*{
	margin : 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

.header{
	background: linear-gradient(to right, rgba(32,45,58,0.9) 0%,rgba(56,79,102,0.9) 100%),url("back.jpg");
	height: 100vh;
	background-size: cover;
	color: #fff;
	background-position: top;
}
.nav-bar{
	display: flex;
  list-style : none;
  background : linear-gradient(to bottom,rgba(0,0,0,0.4),rgba(0,0,0,0));
}

.nav-bar li {
  flex: 1;
  padding : 10px;
  border-bottom: 1px solid transparent;
  text-align: center;
  cursor: pointer;
  transition: border-bottom 0.4s;
}
.nav-bar li:hover{
	border-bottom: 1px solid #fff;
}
.about-us{
	color: #000!important;
}
h1{
	font-weight: 400;
	font-size: 40px;
	text-transform: uppercase;
}